.button{
    text-decoration: none;
    color: white;
    border: 2px solid coral;
    background-color: coral;
    border-radius: 3px;
    padding: 5px 20px;
}

.button:hover{
    background-color: white;
    color: coral;
}