.form {
    max-width: 50%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid coral;
    border-radius: 3px;
    padding: 20px;
}

.form h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form button,
.form a {
    color: white;
    padding: 5px 20px;
}

.form a:hover {
    color: white;
}

@media(max-width: 767.98px){
    .form{
        max-width: 100%;
    }
}